.pL2Ertheia {
	&_bPlanets {
		width: 680px; height: 680px;
		position: absolute;
		top: 150px;
		perspective: 2200px;
		display: none;
		z-index: 101;
        left: 50%;
        margin-left: -340px;
		
		&__ePlanet {
			position: absolute;
			z-index: 201;
			top: 50%; left: 50%;
			cursor: pointer;
			display: inline-block;
			text-align: center;
			font-size: 22px;
			color:#fff;
            transform: translate(-320px, 42px);

			&:before {
				content: '';
				display: block;
				background: no-repeat transparent;
				width:156px; height: 156px;
				background-size: 156px 156px;
				margin: 0 0 6px 0;
				position: relative;
				z-index: 2;
			}

			&:after {
				content: '';
				display: inline-block;
				background: no-repeat transparent;
				position: absolute;
				top:0; left:0;
				width:156px; height: 156px;
				background-size: 156px 156px;
				margin: 0 0 6px 0;
			}
			&:hover {
				color:#01c4e7;
				text-shadow: 0 1px 4px #000000;
			}

			&_mAlchemy {
				&:before {
					background-image: url('bPlanets/ePlanets3.png');
				}
			}
			&_mVideo {
				&:before {
					background-image: url('bPlanets/ePlanets1.png');
				}
			}
			&_mClasses {
				&:before {
					background-image: url('bPlanets/ePlanets2.png');
				}
			}
			&_mLocation {
				&:before {
					background-image: url('bPlanets/ePlanets4.png');
				}
			}
		}
		
		&_mStart {
			.pL2Ertheia_bPlanets__ePlanet {
				border-radius: 50px;
				-webkit-transform-origin: center;
				-webkit-animation: orbit 20s linear infinite;
				transform-origin: center;
				animation: orbit 20s linear infinite;
				pointer-events: all;
			
				&_mVideo {
					-webkit-animation-delay: -5s !important;
					animation-delay: -5s !important;
                    transform: translate(-240px, -160px) scale(0.8);
				}
				&_mClasses {
					-webkit-animation-delay: -10s !important;
					animation-delay: -10s !important;
                    transform: translate(164px, -217px) scale(0.8);
				}
				&_mLocation {
					-webkit-animation-delay: -15s !important;
					animation-delay: -15s !important;
                    transform: translate(161px, 20px);
				}
			}
			:hover {
				.pL2Ertheia_bPlanets__ePlanet {
					animation-play-state: paused;
				}
			}
		}
		
		&_mPause {
			.pL2Ertheia_bPlanets__ePlanet {
				&_mAlchemy,
				&_mVideo,
				&_mClasses,
				&_mLocation {
					-webkit-animation-play-state: paused !important;
					animation-play-state: paused !important;
				}
			}
		}
		
		&_mOpened{
			z-index: 902;
			-webkit-transform: translate(0, 510px);
			-webkit-transition: -webkit-transform 1s linear;
			transform: translate(0, 510px);
			transition: transform 1s linear;
		
			.pL2Ertheia_bPlanets__ePlanet{
				-webkit-animation-name: none;
				-webkit-animation-play-state: paused !important;
				-webkit-transition: font-size 1s linear, -webkit-transform 1s linear;
				animation-name: none;
				animation-play-state: paused !important;
				transition: font-size 1s linear, transform 1s linear;
		
				&_mAlchemy,
				&_mClasses,
				&_mVideo,
				&_mLocation {
					font-size:15px;
					&:before{
						content: '';
						width: 86px; height: 86px;
						background-size: 86px 86px;
						border-radius: 86px;
						-webkit-transition: width 1s linear, height 1s linear, background-size 1s linear;
						transition: width 1s linear, height 1s linear, background-size 1s linear;
					}
					&:after{
						content: '';
						width: 86px; height: 86px;
						background-size: 86px 86px;
						border-radius: 86px;
						opacity: 0.5;
						z-index: 3;
						-webkit-transition: width 1s linear, height 1s linear, background-size 1s linear;
						transition: width 1s linear, height 1s linear, background-size 1s linear;
					}
				}
				&_mClasses{
					-webkit-transform: translate( -229px, -340px ) !important;
					transform: translate( -229px, -340px ) !important;
					&:hover:not(.active){
						&:after{
							background-image: url('bPlanets/ePlanets2__hover.png');
						}
					}
					&:after{
						background-image: url('bPlanets/ePlanets2-gray.png');
					}
				}
				&_mAlchemy{
					-webkit-transform: translate( -103px, -340px ) !important;
					transform: translate( -103px, -340px ) !important;
					&:hover:not(.active){
						&:after{
							background-image: url('bPlanets/ePlanets3__hover.png');

							opacity: 0;
							-webkit-transform: scale(0.4) translate(30px, -20px);
							transform: scale(0.4) translate(30px, -20px);

							-webkit-transform-origin: 30% 80%;
							transform-origin: 30% 80%;

							-webkit-animation: planets3 1s linear infinite;
							animation: planets3 1s linear infinite;

							@keyframes planets3 {
								  0% { opacity: 0; transform: scale(0.5) translate(30px, -20px); }
								 10% { opacity: 1; }
								 20% { transform: scale(0.55) translate(30px, -20px); }
								 40% { transform: scale(0.60) translate(30px, -20px); }
								 70% { opacity: 1; }
								 80% { opacity: 0; transform: scale(0.65) translate(30px, -20px); }
								100% { opacity: 0; transform: scale(0.70) translate(30px, -20px); }
							}
							@-webkit-keyframes planets3 {
								  0% { opacity: 0; -webkit-transform: scale(0.5) translate(30px, -20px); }
								 10% { opacity: 1; }
								 20% { -webkit-transform: scale(0.55) translate(30px, -20px); }
								 40% { -webkit-transform: scale(0.60) translate(30px, -20px); }
								 70% { opacity: 1; }
								 80% { opacity: 0; -webkit-transform: scale(0.65) translate(30px, -20px); }
								100% { opacity: 0; -webkit-transform: scale(0.70) translate(30px, -20px); }
							}
						}
					}
					&:after{
						 background-image: url('bPlanets/ePlanets3-gray.png');
					}
				}
				&_mVideo{
					-webkit-transform: translate( 24px, -340px ) !important;
					transform: translate( 24px, -340px ) !important;
					&:hover:not(.active){
						&:after{
							opacity: 1;
							background-image: url('bPlanets/ePlanets1__hover.png');
							-webkit-animation: planets1 1s linear 1;
							animation: planets1 1s linear 1;

							@keyframes planets1 {
								from { opacity: 0; }
								to { opacity: 1; }
							}
							@-webkit-keyframes planets1 {
								from { opacity: 0; }
								to { opacity: 1; }
							}
						}
					}
					&:after{
						background-image: url('bPlanets/ePlanets1-gray2.png');
					}
				}
				&_mLocation{
					-webkit-transform: translate( 149px, -340px ) !important;
					transform: translate( 149px, -340px ) !important;
					&:hover:not(.active){
						&:after{
							background-image: url('bPlanets/ePlanets4__hover.png');
							background-position: center bottom;
							-webkit-transform: rotate(-4deg);
							transform: rotate(-4deg);

							-webkit-transform-origin: 30% 100% 0;
							transform-origin: 30% 100% 0;

							-webkit-animation: planets4 1s linear infinite;
							animation: planets4 1s linear infinite;

							@keyframes planets4 {
								  0% { transform: rotate(-4deg); }
								 40% { transform: rotate( 6deg); }
								 60% { transform: rotate( 3deg); }
								 80% { transform: rotate( 8deg); }
								100% { transform: rotate(-4deg); }
							}
							@-webkit-keyframes planets4 {
								  0% { -webkit-transform: rotate(-4deg); }
								 40% { -webkit-transform: rotate( 6deg); }
								 60% { -webkit-transform: rotate( 3deg); }
								 80% { -webkit-transform: rotate( 8deg); }
								100% { -webkit-transform: rotate(-4deg); }
							}

						}
					}
					&:after{
						background-image: url('bPlanets/ePlanets4-gray.png');
					}
				}
		
				&.active{
					cursor: default;
					color:#fff;
					&:after{
						opacity: 1;
						box-shadow: 0 0 35px 0 rgba(255, 255, 255, 0.8);
					}
				}
			}
		}
	}
}

// orbit
@-webkit-keyframes orbit {
  0%   { -webkit-transform: translate(-50%, -50%) rotateX(55deg) rotateY(-20deg)  rotateZ(0deg)    translate(0, 340px) rotateZ(0deg)   rotateY(20deg) rotateX(-55deg); }
  100% { -webkit-transform: translate(-50%, -50%) rotateX(55deg) rotateY(-20deg)  rotateZ(-360deg) translate(0, 340px) rotateZ(360deg) rotateY(20deg) rotateX(-55deg); }
}
@keyframes orbit {
  0%   { transform: translate(-50%, -50%) rotateX(55deg) rotateY(-20deg)  rotateZ(0deg)    translate(0, 340px) rotateZ(0deg)   rotateY(20deg) rotateX(-55deg); }
  100% { transform: translate(-50%, -50%) rotateX(55deg) rotateY(-20deg)  rotateZ(-360deg) translate(0, 340px) rotateZ(360deg) rotateY(20deg) rotateX(-55deg); }
}
