.pofo-fort {
	position: relative;
	height: 100%;
}
.pofo-fort--shadows {
	position: relative;
	z-index: 3;
	height: 100%;

	background-image:
		linear-gradient(to bottom, rgba(128, 168, 69, 1) 0%, rgba(128, 168, 69, 1) 30%, rgba(128, 168, 69, 0) 100%),
		linear-gradient(to bottom, rgba(128, 168, 69, 0) 0%, rgba(128, 168, 69, 1) 60%, rgba(128, 168, 69, 1) 100%);
	background-repeat: no-repeat;
	background-position: 0 0, 0 100%;
	background-size: 100% 40%, 100% 30%;
}

.pofo-fort--title {
	position: absolute;
	z-index: 3;
	height: 30%;
	width: 100%;
	max-width: 700px;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;

	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;

	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	
	font: 300 37px/43px 'Open Sans', Arial, sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.pofo-fort--bottom {
	position: absolute;
	z-index: 3;
	height: 25%;
	width: 100%;
	max-width: 700px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;

	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.pofo-fort--controls {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	flex-direction: row;

	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.pofo-fort--label {
	margin: 0 20px 0 0;
	font: 300 14px/18px 'Open Sans', Arial, sans-serif;
	color: #fff;
}

.pofo-fort--stages {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-image: url('stage1.jpg');
	background-size: cover;
	background-position: 50% 50%;
	top: 0;
	left: 0;
}


@media (max-width: 700px) {
	.pofo-fort--title {
		font-size: 27px;
		line-height: 33px;
	}
}

@media (max-width: 470px) {
	.pofo-fort--title {
		box-sizing: border-box;
		padding: 0 20px;
		font-size: 20px;
		line-height: 28px;
	}
	.pofo-fort--controls {
		-webkit-box-orient: vertical;
		flex-direction: column;
	}
	.pofo-fort--label {
		margin: 0 0 7px 0;
		font-size: 12px;
	}
}
